<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hello, Everyone, I am JUI SACHINKUMAR PARIKH, and I am writing this to you about myself. I am an very extrovert
        person, with lot of capabilities and interest. Basically, I am a student of BSD course in seneca college, Canada.
        I love to do programming, have a dream to become a Full stack developer with an amazing initial salary. Hope I get 
        everything I want. My hobbies are travelling, dancing and want to enjoy the life to fullest.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Picture abhi baki hai!!</h2>
      <p>Bye! see u later</p>
    </aside>
  </div>
</div>